* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    
    display: flex;
    align-items: center;

    background: white;
}

/*Text Part*/
section.text {
    margin: 30% 0 0 30%;
}
section.text img {
    z-index: -1;
    position: absolute;

    margin: -70px   0  0 85px;
}
section.text p.informations{
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    width:45vw;

    margin: 0 0 0 0; 
}
section.text p.name {
    font-weight: 800;
}
section.text p.profession {
    font-weight: 300;
    color: hsl(240, 18%, 77%);

    margin-left: 15px;
}
section.text .footer-text{
    display: flex;
}

/*Photo and Forms Part*/
section.img-person .photo {
    position: absolute; 
    z-index: -1;

    right: 8em;
    top: 0;

    width: 400px;
    height: 400px;
    margin-top: 22vh;

    box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.25);
}
section.img-person img#bg {
    position: absolute; 
    z-index: -1;

    width: 550px;
    height: 550px;

    right: 5em;
    top: 90px;
    
    margin-top: -10vh;

}
img#curve {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*Butons*/

.buttons-slider {
    display: flex;
    align-items: center;
    width: 111px;
    margin: 0;

    position: absolute;
    right: 22em;
    top: 32em;
}
.prev {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 55px;
    height: 50px;

    background: #FFFFFF;
    border-radius: 30px 0px 0px 30px;
    
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.prev:hover {
    transition: 0.5s;
    opacity: 0.7;
}
.next {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 55px;
    height: 50px;

    background: #FFFFFF;
    border-radius: 0px 30px 30px 0px;
    margin-left: 1px;

    cursor: pointer;

    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}
.next:hover {
    transition: 0.5s;
    opacity: 0.7;
}
@media(max-width:1222px) {
    section.text {
        margin: 30% 0 0 10%;
    }
    img#curve {
        display: none;
    }
}
@media(max-width:1046px){
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.text {
        position: absolute;
        top: -25%;
        left: 20%;
    }
    section.img-person {
        position: absolute;
        top: 85%;
        left: 97%;
    }
}